/********w************
	
    Do not alter this comment block. 
	Only fill out the information below.

    Competency 12
    Name: Navjot Kaur
    Date: March 26, 2023
    Description: In this file, array with quotes created and <p> is used.

*********************/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
